<mat-toolbar color="primary" id="header" class="col-12 d-flex  mx-0 px-0">
  <div id="div-btn" class="pl-0 ml-3 col-11">
    <span class="mr-4">Bem vindo(a) {{getUser().name}}</span>
  </div>
  <div id="div-user-icon" class="ml-auto mr-3" >
    <mat-icon id="user-icon" [matMenuTriggerFor]="personMenu" >person</mat-icon>
    <mat-menu #personMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>